body {
	text-align: center;
	background-size: cover;
	width: 99%;
	background-image: url("background.png");
	font-family: "RobotoDraft","Roboto",sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-decoration: none;
	color: white;
}
a {
	text-decoration: none;
	color: white;
	text-shadow: 0px 3px 10px rgba(0,0,0,0.5);
	font-weight: 300;
}
#text {
	padding-top: 14%;
	animation-name: text;
	animation-duration: 5s;
	width: 100%;
	height: 60%;
}
@keyframes text {
	0% {-webkit-filter: opacity(0%)}
	100% {-webkit-filter: opacity(100%)}
}